body{
    background-color: #121414;
    font-family: sans-serif;
    font-weight: 500;
    color: antiquewhite;
    margin: 0;
    padding: 0;
}

p{
    max-width: 70em;
}



#myName{
    width: 6.5rem;
}

#header{
    background-image: linear-gradient(#121414e5, #121414a9), url("images/head.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
    width: auto;
    height: 60em;
    margin-bottom: 0;
    /* box-shadow: 1px 5px #89b482; */
    align-items: center;
    justify-content: center;
}

#header > h3{
    text-align: center;
    text-shadow: -3px 3px 2px #89b482;
}

#icons{
    background-color: #18384d;
}

.headIcons{
    width: 2rem;
    margin: auto;
    left: 45%;
    padding: 0.5rem;
    transition: 0.3s;
    display: inline-flex;

}


.headIcons:hover{
    transition: 0.2s;
    transform: translate(0px, 8px);
}


#headName{
    padding-top: 10rem;
    font-size: 3.5rem;
    text-shadow: -3px 3px 2px #dc645d;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}


#footer{
    background-color: #0d0f0f;
    margin-top: 5rem;
    padding: 3rem;
    text-align: center;
}

.divHeader{
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}

#contactMe{
    margin: auto;
    width: 50%;
    max-width: 30rem;
    justify-content: center;
    align-items: center;
    /* background-color: #061416; */
    padding: 3rem;
    background-color: #1d20219a;
    box-shadow: 10px 10px 2px #dc645d;
}


/* about me */
#aboutMeDiv{
    margin: auto;
    width: 80%;
    max-width: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d20219a;
    box-shadow: 10px 10px 2px #dc645d;
    padding: 1rem;
    transition: 0.4s;
}

#aboutMeImg{
    height: 14rem;
    border-radius: 2rem;
}

#aboutMeTxt{
    padding-left: 1rem;
    max-width: 50rem;
}



/* skills */
#skillsDiv{
    margin: auto;
    /* background-color: #061416; */
    padding-top: 1rem;
    padding-bottom: 5rem;
    max-width: 70rem;
    width: 85%;
    justify-content: center;
    background-color: #2e2a2a9c;
    box-shadow: 10px 10px 2px #dc645d;
}

.skillDiv{
    display:inline-flex;
    margin: 1rem;
    padding: 1rem;
}


.skillHead{
    padding: 1rem;
    text-decoration: underline;
    font-style: italic;
    width: 100%;
    display: flex;
}

.skillImg{
    height: 6rem;
    display: flex;
    max-width: 100%;
}



/* projects */
#projects{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    padding-bottom: 3rem;
    max-width: 60rem;
    /* left: 50%; */
}

.projectHeader{
    margin: 0;
}





/* full divs */
.fullDiv{
    padding: 2rem;
    margin: 1em;
    max-width: 70em;
    border: solid 0.2rem #2a93a5;
    border-radius: 0.5rem;
}

/* half divs */
.halfDiv{
    margin: auto;
    width: 25rem;
    min-width: 25rem;
    position: relative;
    display: flex;
    background-color: #151718;
    border-radius: 0.1rem;
    text-align: center;
    border: solid 3px #d4be98;
    margin-top: 0.7rem;
}

.halfDivText{
    padding: 0.5rem;
    padding-bottom: 3rem;
}



.projectDivImg{
    margin: 0;
    padding: 0;
    width: 10rem;
    border-radius: 0.3rem;
}

.githubBtn{
    color: #151718;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #89b482;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
}

.githubBtn:hover{
    background-color: #344e30;
    transition: 0.2s;
}


.projectBtn{
    color: #151718;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #89b482;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: 9rem;
    /* margin-top: 0.5rem; */
}

.projectBtn:hover{
    background-color: #344e30;
    transition: 0.2s;
}



.contactMeBtn{
    font-weight: bold;
    color: antiquewhite;
    background-color: #00000000;
    padding: 1rem;
    padding-top: 00.5rem;
    padding-bottom: 00.5rem;
    border-radius: 1.2rem;
    border: 3px solid #85a296;
    transition: 0.2s;
}

.contactMeBtn:hover{
    background-color: #85a296;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}
/* /////////////// */
/* ////footer///// */
.footerLinks{
    color: #dc645d;
    transition: 0.2s;
}

.footerLinks:hover{
    color: #df4d45;
    transition: 0.2s;
}


/* ////////////// */
/* ////////////// */
/* ////////////// */
/* header navbar */

#navbar{
    display: flex;
    align-items: center;
    background-color: #00000079;
}

.navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarLinks li{
    list-style: none;
    /* transition: 00.2s; */
}
/* .navbarLinks li:hover{
    transition: 00.2s;
    background-color: #197c67;
} */

.navbarLinks li a{
    text-decoration: none;
    padding: 1.5rem 1rem;
    display: block;
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 900;
    transition: 0.2s;
}

.navbarLinks li a:hover{
    color: #89b482;
    transition: 0.2s;
}

/* hamburger icon */
.hamburgerMenu{
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}

.hamburgerMenu .ham{
    height: 3px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
}
/*  */
@media (max-width: 600px){
    .hamburgerMenu{
        display: flex;
    }
    .navbarLinks{
        display: none;
        width: 100%;
    }
    .navbarLinks ul{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .navbarLinks.active{
        display: flex;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }
}