@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background-color: #121414;
    font-family: 'Rubik', sans-serif;
    color: antiquewhite;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

p{
    max-width: 70em;
}


/* ////// */
/* Header */
#myName{
    width: 6.5rem;
}

#header{
    background-image: linear-gradient(#121414e5, #121414a9), url("../images/head.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
    width: auto;
    height: 60em;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

#header > h3{
    text-align: center;
    text-shadow: -3px 3px 2px #89b482;
}

#icons{
    background-color: #18384d;
}

.headIcons{
    width: 2rem;
    margin: auto;
    left: 45%;
    padding: 0.5rem;
    transition: 0.3s;
    display: inline-flex;
}


.headIcons:hover{
    transition: 0.2s;
    transform: translate(0px, 8px);
}


#headName{
    padding-top: 10rem;
    font-size: 3.5rem;
    text-shadow: -3px 3px 2px #dc645d;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    line-height: normal;
}



.divHeader{
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 4em;
}



/* //////// */
/* about me */
#aboutMeDiv{
    margin: auto;
    width: 80%;
    max-width: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d20219a;
    box-shadow: 10px 10px 2px #89b482;
    padding: 1rem;
}

#aboutMeImg{
    height: 14rem;
    border-radius: 2rem;
}

#aboutMeTxt{
    padding-left: 1rem;
    max-width: 50rem;
}

@media (max-width: 550px){
    #aboutMeDiv{
        display: flex;
        flex-wrap: wrap;
    }
}



/* ////// */
/* skills */
#skillsDiv{
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 5rem;
    max-width: 70rem;
    width: 85%;
    justify-content: center;
    background-color: #1d20219a;
    box-shadow: 10px 10px 2px #89b482;
}

.skillDiv{
    display:inline-flex;
    margin: 1rem;
    padding: 1rem;
}


.skillHead{
    padding: 1rem;
    text-decoration: underline;
    font-style: italic;
    width: 100%;
    display: flex;
}

.skillImg{
    height: 6rem;
    display: flex;
    max-width: 100%;
}


/* //////// */
/* projects */
#projects{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    padding-bottom: 3rem;
    max-width: 60rem;
}

.projectHeader{
    margin: 0;
}


/* half divs */
.halfDiv{
    margin: auto;
    width: 25rem;
    height: 12rem;
    min-width: 25rem;
    position: relative;
    display: flex;
    background-color: #151718;
    border-radius: 0.1rem;
    text-align: center;
    border: solid 3px #89b482;
    margin-top: 2rem;
}

.halfDivText{
    padding: 0.5rem;
    padding-bottom: 3rem;
    padding-top: 0;
    margin-top: 0;
}



.projectDivImg{
    margin: 0;
    padding: 0;
    width: 10rem;
    border-right: #89b482 double 3px;
}

.githubBtn{
    color: #151718;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #89b482;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
}

.githubBtn:hover{
    background-color: #344e30;
    transition: 0.2s;
}


.projectBtn{
    color: #151718;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #89b482;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: 9rem;
}

.projectBtn:hover{
    background-color: #344e30;
    transition: 0.2s;
}

/* ////////// */
/* contact me */
#contactMe{
    margin: auto;
    width: 50%;
    max-width: 30rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #1d20219a;
    box-shadow: 10px 10px 2px #89b482;
}


.contactMeBtn{
    font-weight: bold;
    color: antiquewhite;
    background-color: #00000000;
    padding: 1rem;
    padding-top: 00.5rem;
    padding-bottom: 00.5rem;
    border-radius: 1.2rem;
    border: 3px solid #dc645d;
    transition: 0.2s;
}

.contactMeBtn:hover{
    background-color: #dc645d;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}
/* /////////////// */
/* ////footer///// */
#footer{
    background-color: #0d0f0f;
    margin-top: 5rem;
    padding: 3rem;
    text-align: center;
}

.footerLinks{
    color: #dc645d;
    transition: 0.2s;
}

.footerLinks:hover{
    color: #df4d45;
    transition: 0.2s;
}


/* ////////////// */
/* ////////////// */
/* ////////////// */
/* header navbar */

#navbar{
    display: flex;
    align-items: center;
}

.navbarLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbarLinks li{
    list-style: none;
}


.navbarLinks li a{
    text-decoration: none;
    padding: 1.5rem 1rem;
    display: block;
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 900;
    transition: 0.2s;
}

.navbarLinks li a:hover{
    color: #89b482;
    transition: 0.2s;
}

/* hamburger icon */
.hamburgerMenu{
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
}

.hamburgerMenu .ham{
    height: 3px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
}
/*  */
@media (max-width: 600px){
    .hamburgerMenu{
        display: flex;
    }
    .navbarLinks{
        display: none;
        width: 100%;
    }
    .navbarLinks ul{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .navbarLinks.active{
        display: flex;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }
}
